.table-shop-title {
    width: 120px;
    display: block;
    font-size: 13px;
}

.main-table-container {
	height: 70vh;
}

.price-item {
	width: 100%;
	text-align: center;
}

.price-item a {
	display: block;
	font-size: 17px;
}

.checkbox-item {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	float: left;
}

.form-control {
	border-radius: 0px;
}

.new-price-modal {
    float: left;
    line-height: 30px;
    padding-left: 10px;	
}

.flash-message {
	position: fixed;
	height: 100px;
	width: 320px;
	bottom: 15px;
	right: 15px;
	z-index: 1000;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 15px 25px;
	border: 1px solid transparent;
	font-size: 17px;
}

.flash-message--default {
	border-color: #e7e7e7;
	color: black;
	background-color: #f8f8f8;
}